<div *ngIf="cardDetails.length > 0">
  <div class="count-fav">
    <span style="width: 93%; display: inline-flex;">{{cardDetails.length}} City added as favourite</span>
    <span (click)="removeAllFavItem()" style="cursor: pointer;">Remove all</span>
  </div>
  <div class="container-height container-scroll">
    <div *ngFor="let crd of cardDetails" (click)="makeFavToUnfav(crd)">
      <app-list-card [crd]="crd"></app-list-card>
    </div>
  </div>
</div>

<div *ngIf="cardDetails.length == 0">
  <div class="container-height coninter-vertically-center">
    <app-nothing-to-show [text]="'No Favourites added'"></app-nothing-to-show>
  </div>
</div>